body {
    background-color: #FEEB97;
    padding-top: auto;
    padding-left: 100px;
    padding-right: 50px;
    padding-bottom: 50px;
}

p.main {
    text-align: center;
    font-size: 24px;
    font-family:'Courier New', Courier, monospace
}

h1.heading {
    color: #4FB783; 
    text-align: center;
    font-size: 90px; 
    font-family: 'Tahoma', sans-serif;
}

h1 {
    color: #409d9b;
    text-align: center;
    font-size: 72px; 
    font-family: 'Ubuntu Mono', monospace;
}

h2 {
    text-align: left;
    color: #409d9b; 
    font-size: 36px;
    padding-top: 20px;
    font-family: 'Tahoma', sans-serif;
}

img {
    object-position: center;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
    height: 400px;
    width: auto;
    border: 5px;
    border-color: #4FB783;
    border-style: solid;
    border-width: 5px;
}

p, ul, ol {
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left; 
    color: #034561;
}

a {
    font-size: 20px; 
    text-align: center;
    display: block;
    text-align: center;
    padding-top: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div {
    display: block;
    border: 10px;
    border-color: #4FB783;
}

a {
    font-size: 32px;
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
}

.home {
    font-size: 24px;
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    transform: translateY(-2.0rem);
    position: fixed;
    height: 4rem;
    width: 8rem;
    line-height: 4.0rem;
    left: auto;
    top: 0px;
    background-color: #FEEB97;
    box-shadow: 0px 0px 15px #3fb67a;
    border-radius: 50%;
    border: 5px solid #4FB783;
    display: block;
}

a:link {
    color: #409d9b; 
}

a:visited {
    color: #409d9b;
}

a:hover {
    color: #4FB783;
}

a:active {
    color: #4FB783;
}